# Global Land Temperatures
https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

### import _pandas_

### Import the dataframe, read it into a Panda's DataFrame and assign it to df

### Have a look at the first 5 rows using the head method

### Have a look at the size of the dataset

### What is the number of observations in the dataset?

### What is the number of columns in the dataset?

### Print the names of the columns and info about them (number of non null and type)

### Print the 5th observation.

### What is the city of the 1345th observation?

### Rename 'date' the 'dt' column.

In [ ]:
df.head(2)

### Count the total of unique cities.

### Print the count of unique values for each city

### Find the indexes of  the obervation without an Average Temperature.

### Show how the average temperature is distributed.

### Draw a boxplot of the average temperature.